header {
  width: 100%;
  z-index: 1000;
  top: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  margin-right: 10px;
}

.header-title {
  font-weight: 700;
  font-size: 25px;
  flex: 0 0 50%;
  margin: 20px;

  @media (max-width:768px) {
    font-size: 16px;
    margin: auto;
  }
}

.header-mode {
  margin: 25px;

  @media (max-width:768px) {
    font-size: 16px;
    margin: auto;
  }
}
