.country-inner {
  cursor: pointer;
  // max-height: 350px;

}

.country-flag {
  max-width: 100%;
  height: 160px;
  object-fit: cover;
}

.country-text {
  padding: 10px 0px 20px 25px;
}

.country-text div {
  margin-bottom: 5px;
}

